<template>
    <div class="middle-pink">
            <div class="container">
                <div class="pink-container">
                    <p class="big-text-pink">BECAME A PART OF <b>MACHE</b> COMMUNITY TODAY</p>
                    <a href="#pricePage">
                        <div class="btn-main-show">
                            <p class="show-text">JOIN US</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
</template>