<template>
    <div class="footer">
            <div class="container footer-container">
                <p class="footer-text">DESIGNED BY <b>SUMY.</b>CO</p>
            </div>
        </div>
</template>