<template>
    <div class="start-psd" id="sectionHome">
        <BurgerMenu class="burger fadein"/>
            <div class="container start-container">
                    <div class="start-header animate__animated animate__fadeInUp animate__slow">
                        <MenuBarVue/>
                    </div>
                    <div class="start-main fadein">
                        <h1 class="main-title"><b>MACHE</b> FREE PSD TEMPLATE</h1>
                        <div class="main-red-strip"></div>
                        <p class="main-text">
                            Elegant and clean PSD template, which you can download and use for free! <br><br> You can easily modify the design to make it your own and help you get your project running faster.
                        </p>
                        <a href="#appPhoto">
                            <div class="btn-main-show">
                                <p class="show-text">SHOW MORE</p>
                            </div>
                        </a>
                    </div>
            </div>
            <div class="pinc-triangle"></div>
        </div>
        
</template>

<script>
import MenuBarVue from '../components/MenuBar.vue'
import BurgerMenu from '@/components/BurgerMenu.vue';
export default {
    components: { MenuBarVue, BurgerMenu },
    data() {
        return {
            // image: "@/assets/bg-start-page.png",
        };
    }
}
</script>

<style scoped>
    .start-psd{
        background: url(../assets/bg-start-page.png);
    }
   .burger{
        display: none;
    }
   .fadein {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media (max-width: 768px) {
    .burger{
        display: block;
    }
}
</style>