<template>
    <transition name="fade">
        <ModalPhotoVue v-if="showModal" :arr="arr[index]" @closeModal2='handleCustomChangeClose($event)'/>
    </transition>
    <div class="end-photo" id="appPhoto">
        <div class="container">
            <div class="photo-container">
                <div class="text-photo">
                    <p class="text-cursive">Our Latest Updates</p>
                    <div class="main-red-strip"></div>
                    <p class="grey-text grey-text-name">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi natus explicabo reiciendis ut veritatis eos.</p>
                </div>
                <div class="photo-points">
                    <div v-for="(val, index) in arr" :key="val.title" @click="showModal1(index)" class="photo-point animate__animated">
                        <div v-bind:style="{ background: 'url(' + require(`@/assets/${val.url}`) + ')' }" class="photo-img">
                            <div class="photo-triangle"></div>
                            <font-awesome-icon icon="fa-solid fa-magnifying-glass" />
                        </div>
                        <b class="grey-text">{{val.title}}</b>
                        <p class="grey-text">{{val.description}}</p>
                    </div>
                </div>
                <div v-on:click="photoMore" class="photo-more animate__animated animate__fadeInDown animate__infinite 	animate__slower">
                    <p class="text-pink">SHOW MORE</p>
                    <font-awesome-icon icon="fa-solid fa-angle-down" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ModalPhotoVue from '@/components/ModalPhoto.vue'
export default {
    components: { ModalPhotoVue },
    data() {
        return {
            arr: [{
                    title: "title1",
                    description: "description",
                    url: "photo-img1.png"
                },
                {
                    title: "title2",
                    description: "description",
                    url: "photo-img2.png"
                },
                {
                    title: "title3",
                    description: "description",
                    url: "photo-img3.png"
                },
                {
                    title: "title4",
                    description: "description",
                    url: "photo-img4.png"
                },
                {
                    title: "title5",
                    description: "description",
                    url: "photo-img5.png"
                },
                {
                    title: "title6",
                    description: "description",
                    url: "photo-img6.png"
            }],
        arrApended: [],
        showModal: false,
        index: '',
        // infoPop: {
        // title: '',
        // description: '',
        // url: ''
        // }
    }
    },
    methods: {
        showModal1(index){
            this.index = index
            this.showModal = true
        },
        handleCustomChangeClose(value){
            console.log()
            this.showModal = value
        },
        photoMore(){
            let arr2 = [{
                title: "title1",
                description: "description",
                url: "photo-img1.png"
            },
            {
                title: "title2",
                description: "description",
                url: "photo-img2.png"
            },
            {
                title: "title3",
                description: "description",
                url: "photo-img3.png"
            }]
            this.arr.push(...arr2)
            this.isActive = true
        }
    }
}
</script>

<style scoped>
/* .photo-img{
    background: url(../assets/photo-img1.png);
} */
@media (max-width: 1200px) {
    .fa-magnifying-glass{
        bottom: 807px;
        left: 105px;
    }
}
@media (max-width: 768px) {
    .grey-text-name{
        text-align: center;
    }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
}
</style>