<template>
    <div class="start-powerfull" id="AboutUs">
            <div class="container">
                <div class="powerfull-container">
                    <div class="powerfull-left">
                        <p class="text-cursive">Powerfull PSD template available for free!</p>
                        <div class="main-red-strip"></div>
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
                            unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
                            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                                <p class="text-pink">SEE THE VIDEO ▶</p>
                            </a>
                    </div>
                    <div class="powerfull-right">
                        <img class="powerfull-img" src="../assets/MacBook.png" alt="">
                    </div>
                </div>
            </div>
        </div>
</template>