<template>
    <div class="middle-price" id="pricePage">
            <div class="container price-container">
                <p class="text-cursive">Check Our Prices</p>
                <div class="main-red-strip"></div>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate.</p>
                <div class="price-point-container">
                    <PlanPriceVue v-for="(block, index) in plan" :key="block.price" :price="block.price" :type="block.type" :info="block.info" :idx="index" @test1='handleCustomChangeOpen($event)'/>
                </div>

                <transition name="fade"> 
                    <ModalPriceVue v-if="test" :plan="plan[idx]" @test2='handleCustomChangeClose($event)'/>
                </transition>
            </div>
        </div>
        
</template>

<script>
import PlanPriceVue from '@/components/PlanPrice.vue'
import ModalPriceVue from '@/components/ModalPrice.vue'

export default {
    components: { PlanPriceVue, ModalPriceVue },
    data() {
    return {
        test: false,
        bgColor: false,
        idx: '',
        plan: [{
            price: 19,
            type: 'STANDART',
            info: [
                '5 Projects',
                '200 MB Storage',
                'Notification settings',
                'Password protection'
            ]
        },
        {
            price: 39,
            type: 'BUSINESS',
            info: [
                '15 Projects',
                '1 GB Storage',
                'Notification settings',
                'Password protection'
            ]
        },
        {
            price: 59,
            type: 'PREMIUM',
            info: [
                '30 Projects',
                '2 GB Storage',
                'Notification settings',
                'Password protection'
            ]
        },
        {
            price: 99,
            type: 'UNLIMITED',
            info: [
                'Unlimited Projects',
                'Unlimited Storage',
                'Notification settings',
                'Password protection'
            ]
        }
        ]}
    },
    methods: {
        handleCustomChangeOpen(value){
            this.test = value.open
            this.idx = value.idx
            console.log(value.idx)
        },
        handleCustomChangeClose(value){
            console.log()
            this.test = value
        },
        bgColor2(event){
            event.target.parentElement.previousSibling.previousSibling.style.background = "#ed145b"
        },
        bgColor1(event){
            event.target.parentElement.previousSibling.previousSibling.style.background = "#5a5a5a"
        }
    }
}
</script>

<style scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

@media (max-width: 998px) {
    div, p{
        margin: 10px 0;
    }
    .middle-price{
        height: auto;
        margin: 0;
        padding: 30px 0;
    }
}
</style>