<template>
    <div class="end-share" id="contact">
            <div class="container powerfull-container">
                <div class="share-left">
                    <img class="share-img" src="../assets/SafariBrowser.png" alt="">
                </div>
                <div class="share-right">
                    <p class="text-cursive">Please share some love by appreciate it and download! </p>
                    <div class="main-red-strip"></div>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
                        unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
                        <a href="https://sun9-west.userapi.com/sun9-70/s/v1/ig2/RcC0ehmzVsCjGj8Cdxb9S0BVLCmnZXN7HxjISHbEFZimujXk4GCbXHG3UTfrvGTZqRqZCpRMrpnIK5VEZO6AQIhR.jpg?size=128x128&quality=96&type=album" download>
                            <div class="btn-main-show">
                                <p class="show-text">DOWNLOAD NOW</p>
                            </div>
                        </a>
                </div>
            </div>
        </div>
</template>