<template>
    <div class="end-free">
            <div class="container">
                <div class="free-container">
                    <div class="start-main animate__animated animate__fadeIn animate__slower">
                        <h1 class="text-cursive" style="color: white;">Mache Free PSD Template</h1>
                        <div class="main-red-strip"></div>
                        <p class="grey-text" style="color: white;">
                            Elegant and clean PSD template, which you can download and use for free! <br> You can easily modify the design to make it your own and help you get your project running faster.
                        </p>
                        <a href="#appPhoto">
                            <div class="btn-main-show">
                                <p class="show-text">SHOW MORE</p>
                            </div>
                        </a>    
                    </div>
                </div>
            </div>
        </div>
</template>

<style scoped>
.end-free{
    background: url(../assets/bg-start-page.png);
}
</style>