<template>
    <div class="start-switch">
            <div class="container switch-container">
                <h2 class="switch-quotes">“</h2>
                <div class="switch-text">
                    <CarouselSwichVue/>
                </div>
                <h2 class="switch-quotes">”</h2>
            </div>
        </div>
</template>

<script>
import CarouselSwichVue from '@/components/CarouselSwich.vue';

export default {
    components: { CarouselSwichVue }
}
</script>

<style scoped>
.start-switch{
    background: url(../assets/bg-start-page.png);
}
</style>