<template>
    <Slide right disableOutsideClick :closeOnNavigation="true" width="300">
      <a href="#sectionHome">
            <p class="text-point">Home</p>
        </a>
        <a href="#AboutUs">
            <p class="text-point">About Us</p>
        </a>
        <a href="#OurServices">
            <p class="text-point">Our Services</p>
        </a>
        <a href="#pricePage">
            <p class="text-point">Prices</p>
        </a>
        <a href="#contact">
            <p class="text-point">Contact</p>
        </a>
    </Slide>
</template>

<script>
import { Slide } from 'vue3-burger-menu'  // import the CSS transitions you wish to use, in this case we are using `Slide`

export default {
    components: {
        Slide // Register your component
    }
}
</script>

<style>
    .bm-burger-button{
        left: 83% !important;
        position: fixed !important;
        z-index: 100;
    }
    .bm-menu{
        height: auto;
        padding: 60px 0;
    }
    .bm-burger-bars {
        background: #ed145b !important;
    }
    .line-style {
        height: 10% !important;
    }
</style>
