<template>
  <carousel :items-to-show="1" :autoplay="5000" :wrap-around="true">
    <slide v-for="slide in slides" :key="slide" class="slide">
      {{ slide.item }}
    </slide>

    <template #addons>
      <navigation />
    </template>
  </carousel>
</template>

<script>
// If you are using PurgeCSS, make sure to whitelist the carousel CSS classes
import 'vue3-carousel/dist/carousel.css';
import { Carousel, Slide, Navigation } from 'vue3-carousel';

export default {
    name: 'App',
    components: {
        Carousel,
        Slide,
        Navigation,
    },
    data() {
        return {
            slides: [
                {
                    item: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, minima!'
                },
                {
                    item: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus.'
                },
                {
                    item: 'Lorem ipsum dolor sit amet.'
                },
                {
                    item: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates excepturi qui aspernatur.'
                },
                {
                    item: 'Lorem ipsum dolor sit amet consectetur adipisicing.'
                }
            ]
        };
    }
};
</script>
<style>
.slide{
    line-height: 1.5;

}
.carousel__prev, .carousel__next{
    background-color: transparent;
}

@media (max-width: 768px){
    .slide{
        font-size: 16px;
    }
}
@media (max-width: 565px) {
    .carousel{
        width: 100%;
    }
    .carousel__prev,
    .carousel__next{
        display: none;
    }
}

</style>