<template>
    <div class="header-name">
        <img src="../assets/name.png" alt="" class="header-name_img">
    </div>
    <div class="point-header">
        <a href="#sectionHome">
            <p class="text-point">Home</p>
        </a>
        <a href="#AboutUs">
            <p class="text-point">About Us</p>
        </a>
        <a href="#OurServices">
            <p class="text-point">Our Services</p>
        </a>
        <a href="#pricePage">
            <p class="text-point">Prices</p>
        </a>
        <a href="#contact">
            <p class="text-point">Contact</p>
        </a>
    </div>

</template>

<style scoped>
@media (max-width: 768px) {
    .point-header{
        display: none;
    }
}
</style>
    


