<template>
    <div class="popup-img" role="dialog">
        <div class="popup-container">
            <button class="btn-show" @click="closeModal()">
                <font-awesome-icon icon="fa-solid fa-xmark" />
            </button>
                <div class="popup-container_left" v-bind:style="{ backgroundImage: 'url(' + require(`@/assets/${arr.url}`) + ')' }">
                </div>
                <!-- <div class="popup-container_left">
                </div> -->
                <div class="popup-container_right">
                    <div class="popup-container_text">
                    <b class="grey-text" style="font-size: 20px;">{{ arr.title }}</b>
                    <p class="grey-text">{{ arr.description }}</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            
        }
    },
    props: [ 'arr' ],
    methods: {
        closeModal(){
            this.$emit( 'closeModal2', false );
        }
    }
}
</script>
<style scoped>
.popup-img{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.popup-container {
    background: #fff;
    border-radius: 5px;
    position: relative;
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    box-shadow: 0 0 20px rgb(0 0 0 / 70%);
}
.popup-container_left{
    width: 70%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.popup-container_right{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.popup-container_text{
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
}
.btn-show{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    font-size: 40px;
}
.modal-overlay {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    background: #19191a;
    opacity: 0.6;
    cursor: pointer;
  }
  @media (max-width: 998px) {
    .popup{
        margin: 0 !important;
    }
    .popup-container{
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        margin: 0;
        flex-direction: column;
    }
    .btn-show{
        top: 1%;
        right: 1%;
        border-radius: 30px;
    }
    .popup-container_text{ 
        height: auto;
    } 
    .popup-container_left{ 
        width: 100%; 
        height: 90%; 
    } 
    .popup-container_right{
        height: 10%;
        width: 100%;
    }
  }
  @media (max-width: 565px){
    .popup-container{
        width: 300px;
        height: 300px;
    }
    .popup-container_left{
        height: 75%;
    }
    .popup-container_text{
        justify-content: space-between;
    }

  }

</style>