<template>
    <div class="popup">
        <div class="popup-container flex-center">
            <button class="btn-show" @click="test()">
                <font-awesome-icon icon="fa-solid fa-xmark" />
            </button>
            <div class="popup-container__left">
                <div class="price-point">
                    <div class="price-point_grey">
                        <div class="price-point-cost">
                            <p class="valute">$ <span class="cost">{{ plan.price }}</span></p>
                            <p class="month">per month</p>
                        </div>
                    </div>
                    <div class="btn-price">
                        <p class="text-price">{{ plan.type }}</p>
                    </div>
                    <div class="price-point-desc">
                        <div class="desk-text">
                            <p class="desc grey-text" v-for="inf in plan.info" :key="inf">{{ inf }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="popup-container__right">
                <transition name="fade">
                    <div class="pop-switch" v-if="modalData">
                        <p>Leave your details</p>
                            <form @submit.prevent="someAction">
                                <div class="pop-group">
                                    <label for="">Name</label>
                                    <input type="text" v-model="name" @blur="v$.name.$touch">
                                    <div class="error" v-if="v$.name.$error">please fill in the field correctly</div>
                                </div>
                                <div class="pop-group">
                                    <label for="">Email</label>
                                    <input type="text" v-model="email" @blur="v$.email.$touch">
                                    <div class="error" v-if="v$.email.$error">please fill in the field correctly</div>
                                </div>
                                    <label for="">Additional Information</label>
                                    <textarea name="" id="" cols="30" rows="10"></textarea>
                                <div class="btn-main-show" @click.prevent="submitForm">
                                    <p class="show-text">SHOW MORE</p>
                                </div>
                            </form>
                        </div>
                    </transition>
                    <transition name="fade">
                        <div class="pop-switch" v-if="modalDone">
                            <div class="popup-container__done">
                                <p>Thanks</p>
                                <p>our manager will contact you soon, please wait</p>
                            </div>
                        </div>
                    </transition>
            </div>
        </div>
    </div>
</template>

<script>
import useVuelidate from '@vuelidate/core'
import { required, email } from '@vuelidate/validators'

export default {
    setup () {
        return { v$: useVuelidate() }
    },
    data () {
        return {
            popupClose: true,
            modalData: true,
            modalDone: false,
            name: '',
            email: ''
        }
    },
    validations () {
        return {
            name: { required },
            email: { required, email }
        }   
    },
    props: ['plan'],
    methods:{
        async submitForm(){
            let isFormCorrect = await this.v$.$validate()
            if (!isFormCorrect) {
                console.log('dont nice');
            } else {
                console.log('nice');
                this.modalData = false
                this.modalDone = true
                this.v$.$reset() 
                // this.popupClose = false
                // this.test(this.popupClose)
            }
        },
        test(){
            this.$emit( 'test2', false );
        }
    }
}
</script>

<style scoped>
.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}
.popup-container{
    background: #fff;
    width: 80%;
    height: 80%;
    border-radius: 3px;
    box-shadow: 0 0 20px rgb(0 0 0 / 70%);
    display: flex;
}
.btn-show{
    position: absolute;
    top: 10%;
    right: 10%;
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    font-size: 40px;
}
.error{
    font-size: 15px;
}
input{
    height: 10%;
    width: 80%;
    border-radius: 3px;
    border: 1px #5a5a5a solid;
    padding: 10px;
    margin: 10px 0;
}
form{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
textarea{
    width: 80%;
    padding: 10px;
    resize: none;
}
.pop-group{
    width: 100%;
    height: 17%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pop-switch{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 25px;
    flex-direction: column;
    justify-content: space-evenly;
}
.popup-container__left{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../assets/bg-start-page.png);
    background-size: cover;
}
.popup-container__right{
    width: 60%;
    height: 100%;
    
}
.price-point{
    box-shadow: 0 0 40px rgba(0,0,0,0.5);
}
.desk-text{
    margin: 0;
    height: 70%;
}
.popup-container__done{
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

@media (max-width: 998px) {
    .popup{
        margin: 0 !important;
    }
    .popup-container{
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        margin: 0;
        justify-content: center;
    }
    .btn-show{
        top: 1%;
        right: 1%;
    }
    .popup-container__left{
        display: none;
    }
    .popup-container__right{
        width: 100%;
        height: 100%;
    }
  }
</style>