<template>
    <div class="price-point">
        <div class="price-point_grey">
            <div class="price-point-cost">
                <p class="valute">$ <span class="cost">{{ price }}</span></p>
                <p class="month">per month</p>
            </div>
        </div>
        <div class="btn-price">
            <p class="text-price">{{ type }}</p>
        </div>
        <div class="price-point-desc">
            <div class="desk-text">
                <p class="desc grey-text" v-for="inf in info" :key="inf">{{ inf }}</p>
            </div>
            <div class="btn-main-show" @click="test()">
                <p class="show-text">BUY NOW</p>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    data(){
        return{}
    },
  
    props:[ 'price', 'type', 'info', 'idx' ],
    methods:{
        test(){
            console.log(123);
            this.$emit( 'test1', {
                idx: this.idx,
                open: true
            } );
        }
    }
    
}
</script>

<style scoped>
@media (max-width: 998px) {
    
}
</style>