

html {
    /* width: 100vw;
    height: 100vh; */
    overflow-x: hidden;
    scroll-behavior: smooth;

    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

b {
    font-weight: 700;
}
a{
    text-decoration: none;
    color: #fff;
}
.container {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.start-psd {
    /* background: url(./bg-start-page.png); */
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.container {
    height: 100%;
}
.start-container{
    flex-direction: column;
    position: relative;
}
.start-header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 100%
}

.text-point {
    margin: 0;
    font-weight: 700;
    transition: 0.5s;
    cursor: pointer;
}

.text-point:hover {
    color: #ed145b;
}

.point-header {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header-name {
    align-items: flex-end;
    display: flex;
}

.start-main {
    display: flex;
    height: 270px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.main-title {
    height: auto;
    font-weight: 300;
    font-size: 46px;
    text-align: center;
    color: rgba(255, 255, 255, 0.1);
    background: -webkit-gradient(linear, left top, right top, from(#e2dede), to(#e7e7e7), color-stop(0.9, #969696));
    background-color: rgba(255, 255, 255, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    background-clip: border-box;
    background-size: 30px 100%;
    -webkit-background-clip: text;
    animation-name: shimmer;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #ffffff;
}

@keyframes shimmer {
    0% {
        background-position: top left;
    }
    100% {
        background-position: top right;
    }
}

.main-red-strip {
    width: 300px;
    height: 2px;
    background: #ed145b;
}

.show-text {
    margin: 0;
    font-size: 15px;
    font-weight: 700;
}

.btn-main-show {
    width: 180px;
    height: 50px;
    background: #ed145b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.9s;
    color: white;
}

.btn-main-show:hover {
    background: white;
    color: #ed145b;
}

.pinc-triangle {
    background: #ed145b;
    position: absolute;
    color: #fff;
}

.pinc-triangle::after {
    content: '';
    position: absolute;
    border: 30px solid transparent;
    border-left: 90vw solid #ed145b;
    border-top: 0px solid #ed145b;
}

.start-powerfull {
    height: 576px;
    background: #f4f4f4;
}

.powerfull-left {
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.powerfull-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.text-cursive {
    font-style: italic;
    font-weight: 300;
    font-size: 38px;
    color: #5a5a5a;
}

.grey-text {
    font-size: 15px;
    color: #5a5a5a;
    line-height: 30px;
}

.text-pink {
    color: #ed145b;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.powerfull-right {
    width: 60%;
    height: 100%;
    position: relative;
}

.powerfull-img {
    position: absolute;
    width: 900px;
    bottom: -90px;
}

.start-services {
    height: 650px;
}

.serv-point-svg {
    width: 130px;
    height: 130px;
    border: 1px #b8b8b8 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 70px;
}

.serv-point {
    width: 150px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.services-container {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.services-point {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.services-container .grey-text {
    width: 80%;
    text-align: center;
}

.services-container .text-pink {
    cursor: auto;
}

.start-switch {
    /* background: url(./bg-start-page.png); */
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.switch-text {
    color: white;
    font-size: 25px;
    font-style: italic;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.switch-text .fas {
    color: #5a5a5a;
}

.switch-quotes {
    color: #ed145b;
    font-size: 158px;
    width: auto;
    height: 100px;
}

.switch-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.price-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
    width: 80%;
}

.middle-price {
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
}

.price-point-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    height: auto;
    align-items: flex-start;
}

.price-point {
    width: 250px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.price-point-cost {
    margin-top: 35px;
}

.price-point_grey {
    width: 100%;
    height: 205px;
    background: #5a5a5a;
    color: white;
    transition: 0.7s;
}

.btn-price {
    position: absolute;
    bottom: 262px;
    width: 200px;
    background: #f4f4f4;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-point-desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 357px;
    justify-content: center;
    background: #fff;
}

.valute,
.cost,
.text-price,
.desc {
    margin: 0;
}

.cost {
    font-size: 50px;
    font-weight: 700;
}

.desk-text {
    margin-bottom: 20px;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container-advantages {
    height: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.advantages-point {
    height: 150px;
    display: flex;
    width: 360px;
    justify-content: space-evenly;
}

.advantages-text {
    width: 260px;
}

.advantages-svg {
    height: 120px;
    width: 60px;
}

.middle-advantages {
    height: 600px;
}

.middle-pink {
    height: 200px;
    background: #ed145b;
}

.big-text-pink {
    margin: 0;
    color: white;
    font-size: 38px;
    font-weight: 300;
}

.pink-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    line-height: 1.5;
}

.pink-container .btn-main-show {
    background: white;
    color: #ed145b;
}
.pink-container .btn-main-show:hover{
    background: #ed145b;
    color: white;
}
/* 
.pink-container .btn-main-show:hover {
    border: 20px white solid;
} */

.end-photo {
    height: auto;
    padding: 4% 0;
}

.text-photo {
    height: 115px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.photo-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: 100%;
}

.photo-points {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-items: center;
    align-items: center;
    margin-top: 40px;
}

.photo-point {
    width: 360px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #f4f4f4;
    margin-bottom: 40px;
}

.photo-point .grey-text {
    width: 90%;
}

.photo-more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 5%;
    color: #ed145b;
}

.photo-more .text-pink {
    margin: 0;
}

.photo-img {
    /* background: url(../img/photo-img1.png); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
    overflow: hidden;
    cursor: pointer;
}

.photo-triangle {
    width: 100em;
    height: 55em;
    border-radius: 0 0 100% 100%;
    background: rgb(93%, 8%, 36%, 1);
    position: relative;
    left: -628px;
    top: 242px;
    transform: rotate(2deg);
    transition: 0.9s;
}
.photo-point:hover  .photo-triangle{
    transform: rotate(72deg);
    background: rgb(93%, 8%, 36%, 0.5);
}
.fa-magnifying-glass {
    position: relative;
    color: white !important;
    fill: #fff !important;
    font-size: 90px;
    bottom: 805px;
    left: 131px;
    transform: none !important;
    background: none !important;
    opacity: 0;
    transition: 0.9s;
}

.photo-point:hover .fa-magnifying-glass {
    opacity: 1;
}

.end-free {
    /* background: url(./img/bg-start-page.png); */
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.end-share {
    height: 700px;
}

.share-right {
    width: 40%;
    height: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 60px;
}

.share-left {
    width: 60%;
    height: 100%;
    position: relative;
}

.share-img {
    position: absolute;
    top: 70px;
    right: 120px;
    width: 750px;
}

.footer {
    height: 100px;
    background: #2b2b2b;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-text {
    margin: 0;
    padding: 0;
    color: #fff;
}



  @media (max-width: 1500px) {
    .powerfull-img{
        width: 800px;
        bottom: -70px;
    }
    .share-img {
        top: 80px;
        right: 60px;
        width: 710px;
    }
  }

  @media (max-width: 1300px){
    .powerfull-img {
        width: 700px;
        bottom: -60px;
    }
    .start-powerfull {
        height: 545px;
    }
    .share-img {
        top: 110px;
        right: 40px;
        width: 100%;
    }
    .price-point{
        width: 200px;
    }
    .btn-price {
        position: absolute;
        bottom: 264px;
        z-index: 50;
        width: 160px;
    }
    .btn-main-show{
        width: 160px;
    }
  }
  @media (max-width: 1200px) {
    .start-psd{
        height: 700px;
    }
    .powerfull-img {
        width: 100%;
        bottom: -50px;
        right: -60px;
    }
    
    .photo-point{
        width: 280px;
        height: 320px;
    }
    .photo-img{
        height: 230px;
    }
    .photo-triangle{
        top: 226px;
    }
    
    .advantages-point {
        width: 330px;
    }
    .price-point-container{
        width: 110%;
    }
    .container-advantages{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .big-text-pink{
        width: 80%;
    }
  }
  @media (max-width: 998px){
    .powerfull-left{
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .powerfull-right{
        display: none;
    }
    .serv-point{
        width: 140px;
        height: 155px;
    }
    .serv-point-svg{
        width: 90%;
        height: 80%;
    }
    .text-pink{
        font-size: 14px;
    }
    .services-container{
        height: 70%;
    }
    .photo-points{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .share-left{
        display: none;
    }
    .share-right{
        width: 90%;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        height: 80%;
    }
    .price-point-container{
        flex-wrap: wrap;
        justify-content: space-around;
        width: 75%;
    }
    .popup{
        margin: 0 !important;
    }
    .popup-container{
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        margin: 0;
    }
    .btn-show{
        top: 1%;
        right: 1%;
    }
  }
  @media (max-width: 768px){
    .main-title{
        font-size: 30px;
    }
    .main-text{
        font-size: 16px;
    }
    .start-main{
        height: 290px;
    }
    .start-psd {
        height: 650px;
    }
    .grey-text {
        font-size: 14px
    }
    .start-services {
        height: 600px;
    }
    .serv-point {
        width: 120px;
        height: 130px;
    }
    .text-pink {
        font-size: 12px;
    }
    .switch-quotes {
        font-size: 130px;
        height: 90px;
    }
    .start-switch {
        height: 400px;
    }
    .text-cursive{
        font-size: 35px;
    }
    .big-text-pink{
        font-size: 22px;
    }
    .end-free{
        height: 500px;
    }
    .end-share {
        height: 650px;
    }
    .footer{
        font-size: 14px;
    }
    .advantages-point {
        width: 360px;
        padding: 10px 0;
    }
    .middle-advantages {
        height: auto;
    }
    .advantages-point:first-child{
        padding: 30px 0 10px 0;
    }
    .text-photo p{
        padding: 10px 0;
    }
    .text-photo div{
        margin: 10px 0;
    }
    .text-photo{
        height: auto;
    }
  }
  @media (max-width: 565px){
    .main-text{
        font-size: 15px;
    }
    .grey-text{
        font-size: 13px;
    }
    .powerfull-left{
        height: 90%;
    }
    .start-powerfull{
        height: 610px;
    }
    .powerfull-container{
        width: 100%;
    }
    .start-services{
        height: 700px;
    }
    .services-point{
        flex-wrap: wrap;
        height: 44%;
    }
    .services-container{
        height: 95%;
    }
    .text-cursive{
        font-size: 30px;
    }
    .advantages-text {
        width: 180px;
    }
    .share-right{
        height: 100%;
    }
    .advantages-point{
        width: 300px;
    }
  }
/* .photo-triangle:hover {
    animation-name: fill;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fill {
    100% {
        border: 22px solid #ed145b;
        border-bottom: 229px solid #ed145b;
        border-right: 339px solid #ed145b;
    }
} */


/* .photo-triangle::before {
    content: '';
    position: absolute;
    border: 10px solid transparent;
    border-left: 15vw solid #ed145b;
    border-bottom: 0px solid #ed145b;
    bottom: 0px;
    animation-name: fill;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
} */