<template>
  <MainComponentsVue/>
  <PowerfullComponentsVue/>
  <ServicesComponentsVue/>
  <SwitchComponentsVue/>
  <PriceComponentsVue/>
  <AdvantagesComponentsVue/>
  <CommunityComponentsVue/>
  <PhotoComponentsVue/>
  <ShowComponentVue/>
  <ShareComponentVue/>
  <FooterComponentVue/>
</template>

<script>
import MainComponentsVue from './views/MainComponents.vue'
import PowerfullComponentsVue from './views/PowerfullComponents.vue';
import ServicesComponentsVue from './views/ServicesComponents.vue';
import SwitchComponentsVue from './views/SwitchComponents.vue';
import PriceComponentsVue from './views/PriceComponents.vue';
import AdvantagesComponentsVue from "./views/AdvantagesComponents.vue";
import CommunityComponentsVue from "./views/CommunityComponents.vue"
import PhotoComponentsVue from './views/PhotoComponents.vue';
import ShowComponentVue from './views/ShowComponent.vue'
import ShareComponentVue from './views/ShareComponent.vue'
import FooterComponentVue from './views/FooterComponent.vue'

export default {
  name: 'App',
  components: {
    MainComponentsVue,
    PowerfullComponentsVue,
    ServicesComponentsVue,
    SwitchComponentsVue,
    PriceComponentsVue,
    AdvantagesComponentsVue,
    CommunityComponentsVue,
    PhotoComponentsVue,
    ShowComponentVue,
    ShareComponentVue,
    FooterComponentVue
}
}
</script>

<style>
    @import '@/assets/normalize.css';
    @import '@/assets/style.css';
    @import 'animate.css';
    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');
    
#app {
    font-family: 'Lato', sans-serif;
}

</style>
